*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-size: 20px; 
}

body{
    min-height: 100%;
    background: #e3f2fd;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    
}

nav .logo{
    display: flex;
    align-items: center;
    margin: 0 1.1rem;
}

.menu-icons{
    color: #333;
    font-size: 1rem;
    margin-right: .5rem;
    cursor: pointer;
}

.logo-name{
    color: #333;
    font-size: 1rem;
    font-weight: 500;
}

.sidebar{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 13rem;
    background-color: #2BC7C4;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
    transition: all 0.4s ease;
    
}

.open{
    left: 0;
   
}

.overlay.open {
    display: block;
}


.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%; 
    padding: 1.5rem .8rem;
}

.list{
    list-style: none;
}

.nav-link{
    display: flex;
    align-items: center;
    padding: .5rem .4rem;
    border-radius: .4rem;
    text-decoration: none;
}

.nav-link:hover{
    background-color: #fff;
}

.icon{
    margin-right: .5rem;
    font-size: 1rem;
    color: #707070;

}

.link{
    font-size: .9rem;
    color: #707070;
    font-weight: 400;
}

.div-bottom-cotent {
    margin-top: auto; 
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
        
}

.h3-saludo{
    /* background-color: aqua; */
    position: relative;
    right: -5rem;
    color: #2BC7C4;
    font-size: 1.2rem;
}