@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

:root{
    --principal-color:#2BC7C4;
    --secondary-color:#F2AE5F;
    --gradient-color:linear-gradient(270deg, #2BC7C4, #387674);

}



body {
    display: grid;
    grid-template-rows: 13vh 1fr 8vh; /* Navbar, sección 1, y footer */
    margin: 0;
    height: 100vh; 
    background: var(--gradient-color);
    /* overflow: hidden;  */
}

/* barra navegacion */
.navbar{
    background-color:#2a7c7a;
    border-bottom: .1rem solid #F2AE5F;
    /* border-radius: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    height: 100%; 


}
ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

ul li{
    border-bottom: .1rem solid #F2AE5F;
}

.links-redirect{
    font-size: .83rem;
    color: #F5F5F5;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: white;
}


.logo-Neymar{
    width: 12.5%;

}

/* seccion 1 contenedor */

.section-1{

    background-image: url(../imagenes/Fondo_home_proyecto.png); 
    background-size: cover;
    background-repeat: none;
    height: 100%;
   

    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 100%;
}

/* Section 1 lado izquierdo */
.section-1__left{
    /* background-color: rgb(158, 201, 190); */
    
    
}

.section-1__h3{
    /* background-color: #00f; */
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #F2AE5F;
    margin-top: 7rem;
}




/* Fin seccion 1 lado izq */

/* Seccion 1 lado derecho con la imagen de Neymar */

.section-1__rigth{
    /* background-color: bisque; */
    background-image: url(../imagenes/libro-ney.png);
    background-size: cover;
    position: relative;
}



/* Fin de seccion 1 */

/* Conteiner de secction 2 que son las cajas */

.section-1__left{
    /* background: #F2AE5F; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.section-1__left__container {
    /* background: #F2AE5F; */
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
    grid-template-rows: repeat(2, 1fr); /* 2 filas iguales */
    gap: 1rem; /* Espacio entre las cajas */
    padding: 1rem;
    justify-self: center; 
    align-self: center; 
}



/* Transicion para todas las cajas */
.section-2__box-1, .section-2__box-2, .section-2__box-3, .section-2__box-4 {
    background-color: #ffffff; 
    border-radius: 1rem;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    padding: 1rem; 
    gap: .5rem; 
    
}



/* Cambio de color con hover al pasar por las 4 cajas */
.section-2__box-1:hover, .section-2__box-2:hover, .section-2__box-3:hover, .section-2__box-4:hover{
    
    transform: scale(1.1);

}


/* fin cambio de color con hover para las 4 cajas */

/* h3 y p para section*/

.section-2__box-h3{
    font-size: 1rem;
    text-align: center;
    color: var(--principal-color);
    margin-top: .3rem;
    
}

.section-2__box-p{
    text-align: center;
    color: var(--principal-color);
    font-size: .8rem;
    
}

.icons-section-2{
    font-size: 1.7rem;
    color: var(--principal-color);
   
    
}




.footer{
    background-color: #F2AE5F;
    height: 100%;
    
}


/* form que aparece al darle click a evntos */

.div-form{
    background-color: var(--principal-color);
    height: 24rem;
    width: 21rem;
    border-radius: 1rem;
    padding-top: .8rem;
    margin-top: 5.5rem;
    margin-left: 2rem;

}

.iconForm{
    display: flex;
    justify-content: end;
    font-size: 1.2rem;
    position: relative;
    right: 1rem;
    cursor: pointer;
    color: #fff;
}

.section-4__form-p{
    /* background-color: #2BC7C4; */
    font-size: .9rem;
    text-align: center;
    padding-top: 1.5rem;
    height: 25%;
    color: #fff;
    margin-top: -.5rem;
    
}

.section-4__form{
    /* background-color: #1ca7a4; */
    height: 75%;
    color: #fff;
    display: flex;
    /* flex-direction: column; */
    /* align-items: end; */
    padding: 0 1.5rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}

.section-4__form-label{
    /* background-color: #F2AE5F; */
    font-size: .8rem;
    width: 100%;
    height: 1rem;
    position: relative;
    bottom: 1rem;
}

.section-4__form-input{
    background-color: #fff;
    font-size: .8rem;
    border-radius: .3rem;
    /* height: 1.7rem; */
    padding: .3rem;
    border: none;
    width: 100%;
    position: relative;
    bottom: 2rem;
}

.section-4__form-input::placeholder{
    color: var(--principal-color);
}

.section-4__form-input-fullname{
    width: 47%;
    bottom: 1rem;
}

.section-4__form-label-fullname{
    width: 47%;
    position: static;
}

.section-4__form-label-modify{
    bottom: 2rem;
}

.section-4__form-input-modify{
    bottom: 3rem;
}

.section-4__form-btn{
    background-color: var(--secondary-color);
    border: none;
    padding: .3rem .6rem;
    border-radius: .3rem;
    color: #fff;
    position: relative;
    bottom: 2.5rem;
    cursor: pointer;
}