*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-size: 20px; 
}

body{

    /* Se coloco la imagen de fondo */
    background-color: rgb(192, 190, 190);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    /* background-image: url(../img_proyecto/img-fondoo.png); */
    background-image: url(../imagenes/7.png);

    /* Estas dos lineas son para que la imagen quede completa y centrada, no repeat para que no se repita y cover para que se vea bien  */
    background-repeat: no-repeat;
    background-size: cover;
    

}


.container-login{
    background-color: white;
    height: 72vh;
    width: 50vw;
    display: grid;
    grid-template-columns: 54.1% 1fr;
    overflow: hidden;
    border-radius: .5rem;
}

.image-login{

    /* Imagen del lado izq */

    /* width: 60%;
    height: 100%; */
    background-color: teal;
    background-image: url(../imagenes/Técnicas\ \ de\ Éxito\ Inmobiliario\ \ \(800\ x\ 1024\ px\).png);

    /* para que quede del tamaño del container */
    background-size: contain;
    background-repeat: no-repeat;

}

.login{
    /* width: 40%;
    height: 100%; */

    /* Lado derecho del login */
    background-color: white;
    display: flex;
    flex-direction: column;

}

.image-logo{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;

}

.image-logo img{
    width: 60%;
    height: 80%;
}

.login-title{
    /* background: #2BC7C4; */
    text-align: center;
    color: #F2AE5F;
    font-size: 1.2rem;
    /* height: 5%; */
    /* margin-top: .7rem; */
    margin-bottom: .5rem;
}

.login-form{
    /* background: #a09e9e; */
    height: 63%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: .2rem;
}

.login-span{
width: 80%;
font-size: .7rem;
/* position: relative;
top: .5rem; */

}

.login-input{
    padding: .2rem;
    border-radius: .5rem;
    width: 80%;
    background-color: #2BC7C4;
    color: white;
    border: solid #2BC7C4;
    gap: .5rem;
    

}

    /* Usamos positions para bajar un poco el texto y la cajita */
    /* .login-input-modify {
    position: relative;
    top: .9rem;
    } */

    /* .login-span-modify{
    top: 1.3rem;
    } */

    .btn-login{
        background-color: #F2AE5F;
        width: 80%;
        border-radius: .5rem;
        padding: .2rem;
        border: solid #F2AE5F;
        margin-top: .5rem;
        
    }

    

    .login-register{
        font-size: .7rem;
        text-align: center;
        
    }


