*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

:root{
    --principal-color:#2BC7C4;
    --secondary-color:#F2AE5F;
    --gradient-color:linear-gradient(270deg, #2BC7C4, #387674);

}

body{
    overflow: hidden;
}

.container_mas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  80vh 1fr;
    justify-content: center;
    background: var(--gradient-color);
    background-image: url(../imagenes/Fondo_home_proyecto.png); 
    background-size: cover;
    background-repeat: none;
    overflow-x: hidden;
}

/* barra navegacion */
.navbar{
    background-color:#2a7c7a;
    border-bottom: .1rem solid #F2AE5F;
    /* border-radius: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;


}
ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

ul li{
    /* display: inline-block; */
    /* padding: .3rem .7rem; */
    font-size: .83rem;
    color: #F5F5F5;
    border-bottom: .1rem solid #F2AE5F;
}

.links-redirect{
    font-size: .83rem;
    color: #F5F5F5;
    text-decoration: none;
    cursor: pointer;
}


a:hover{
    color: white;
}

.logo-Neymar{
    width: 12.5%;

}




.section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-3__video{
    display: block;
    height: 20rem;
    width: 30rem;
    /* background-color: aquamarine; */
    background-image: url(../imagenes/laptop-modelo.png);
    border-radius: .5rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-3__botton{
    background-color: var(--principal-color);
    text-decoration: none;
    border-radius: .5rem;
    color: #fff;
    padding: .7rem 1rem;
    font-size: 1.2rem;
    position: relative;
    top: -1.5rem;
    /* margin-top: 1rem; */
}

.section-4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-form{
    background-color: #fff;
    height: 24rem;
    width: 21rem;
    border-radius: 1rem;
    padding-top: .8rem;

}

.section-4__form-p{
    /* background-color: #2BC7C4; */
    font-size: .9rem;
    text-align: center;
    padding-top: 1.5rem;
    height: 25%;
    color: #6B6B6B;
    
}

.section-4__form{
    /* background-color: #1ca7a4; */
    height: 75%;
    color: #000;
    display: flex;
    /* flex-direction: column; */
    /* align-items: end; */
    padding: 0 1.5rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}

.section-4__form-label{
    /* background-color: #F2AE5F; */
    font-size: .8rem;
    width: 100%;
    height: 1rem;
    position: relative;
    bottom: 1rem;
}

.section-4__form-input{
    background-color: var(--principal-color);
    font-size: .8rem;
    border-radius: .3rem;
    /* height: 1.7rem; */
    padding: .3rem;
    border: none;
    width: 100%;
    position: relative;
    bottom: 2rem;
}

.section-4__form-input::placeholder{
    color: #fff7;
}

.section-4__form-input-fullname{
    width: 47%;
    bottom: 1rem;
}

.section-4__form-label-fullname{
    width: 47%;
    position: static;
}

.section-4__form-label-modify{
    bottom: 2rem;
}

.section-4__form-input-modify{
    bottom: 3rem;
}

.section-4__form-btn{
    background-color: var(--secondary-color);
    border: none;
    padding: .3rem .6rem;
    border-radius: .3rem;
    color: #fff;
    position: relative;
    bottom: 2.5rem;
}


.footer{
    background-color: #F2AE5F;
    height: 100vh;
    
  
} 